
.logo{
  width: 400px;
  margin-top: 30px;
}
.form-control{
  border: 1px solid #3c3c3c;
}
form {
  margin-top: 21px;
}
.btn {
  margin-top: 4px;
  border: 1px solid #000;
  background-color: #27AAE1;
}
body {
  background-color: #F0F8FF;
  /*font-family: 'Teko', sans-serif;*/
  font-family: 'Roboto Slab', serif;

}
h1{
  color: grey;
  text-shadow: 1px 1px #000000;
}
.widget {
  width: 330px;
  margin: 10px auto 0;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  border: 1px solid #3c3c3c;
}
.header {
  height: 78px;
  background-color: #27AAE1;
  position: relative;
  font-size: 12px;
}
.btn-play {
  margin: 9px;
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50px;
  border: 1px solid black;
  user-select: none;
  -webkit-user-select: none;
}
.btn-play:after {
  content: ' ';
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  margin-left: 50%;
  margin-top: 50%;
  left: -10px;
  top: -18px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 30px solid black;
}
.btn-play:hover {
  cursor: pointer;
  border-color: black;
}
.btn-play:hover:after {
  border-left-color: black;
}
.btn-play:active:after {
  border-left-color: black;
}
.btn-play.playing:before, .btn-play.playing:after {
  width: 9px;
  height: 36px;
  background-color: black;
  position: absolute;
  content: "";
  top: 22px;
  left: 27px;
  border: 0;
  margin: 0;
}
.btn-play.playing:after {
  left: 43px;
}
.btn-play.playing:hover:before, .btn-play.playing:hover:after {
  background-color: #000;
}

.btn-play.playing:active:before, .btn-play.playing:active:after {
  background-color: #000;
}
.btn-play.disabled {
  border-color: #000;
}
.btn-play.disabled:hover {
  cursor: auto;
}
.btn-play.disabled:after {
  border-left-color: #000;
}
.metadata {
  display: inline-block;
  padding: 10px;
  width: calc(100% - 100px);
}
.title, .author {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  line-height: 1.4em;
  height: 1.4em;
  font-size: 14px;
  font-weight: bold;
}
.author {
  font-weight: normal;
}
.seekbar {
  margin-top: 5px;
  width: 100%;
}
.cover {
  height: 300px;
  width: 330px;
  position: relative;
}
footer{
  margin-top: 30px;
}
.cover img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  border: 0;
}
audio {
  display: none;
}
progress {
  width: 100%;
  height: 5px;
  padding: 0;
  background-color: #3e3e40;
  position: relative;
  border: 0;
  overflow: hidden;
}
progress::-webkit-progress-bar {
  background-color: #3e3e40;
}
progress::-webkit-progress-value {
  background-color: yellow;
}
progress::-moz-progress-bar {
  background-color: yellow;
}
